<style>
    .hover_img a {
        position: relative;
    }

    .hover_img a span {
        position: absolute;
        display: none;
        z-index: 99;
    }

    .hover_img a:hover span {
        display: block;
    }
</style>
<section class="hero is-fullheight has-text-centered has-background-white-ter" id="about">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                    <figure class="image">
                        <img class="is-rounded" width="131" height="131" src="{{site.author-image}}" alt="{{site.author-name}}">
                        <figcaption>{{site.author-name}}</figcaption>
                    </figure>
                </div>
                <div
                    class="column content has-text-justified-desktop has-text-justified-tablet has-text-justified-fullhd has-text-justified-widescreen has-text-justified-mobile">
                    <p>{{site.author-about}}
                    <p>
                    <div class="hover_img">
                        <p>J’ai partagé cette expérience dans le livre<a href={{site.livre-url}}>« Dys : outils et
                                adaptations dans la classe »<span><img src="{{site.livre-image}}" alt="« Dys : outils et
                                    adaptations dans la classe »"/></span></a>, co-écrit
                            avec le<a href="https://dr-michele-mazeau.wixsite.com/dr-michele-mazeau">Dr. Michèle
                                Mazeau.</a>
                        </p>
                    </div>
                    <p>
                        Aujourd’hui, désireuse d’apporter une aide personnalisée et ciblée, en individuel ou en
                        petits groupes, je me suis formée à l’orthopédagogie à<a
                            href="https://www.ecoleorthopedagogie.fr/">l’Ecole Française d’Orthopédagogie</a>auprès
                        d’experts reconnus en France, en Belgique et au Québec.
                    <p>Je suis membre de<a href="https://www.orthopedagogues.fr/">l'Union des Orthopédagogues de
                            France</a>, et
                        j’ai ouvert mon cabinet à Antony (92).</p>
                    </p>
                </div>
            </div>
            <div class="buttons is-centered">
                <a href="{{site.url}}{{site.baseurl}}/#contact"
                    class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Me
                    contacter
                </a>
                <a href="{{site.url}}{{site.baseurl}}/project"
                    class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">En Savoir
                    Plus
                </a>
            </div>
        </div>
</section>