<section class="hero is-fullheight has-text-centered" id="hero">
  <div class="hero-body">
    <div class="container">

      <!-- <div class="columns is-centered"> -->
    
        <img class="column is-2 is-offset-5 is-centered"  src="{{site.url}}{{site.baseurl}}/{{site.author-logo}}" alt="{{site.author-name}}">
 


      <h1 class="title has-text-white is-size-1 is-uppercase has-text-weight-bold">
        {{site.title}}
      </h1>
      <h2 class="title has-text-white is-size-3 is-uppercase has-text-weight-bold">
        {{site.title_bis}}
      </h2>
      <h3 class="subtitle has-text-white-bis is-uppercase has-text-weight-medium is-marginless">
        {{site.description}}
      </h3>
      <hr>
      <a href="{{site.url}}{{site.baseurl}}/#about"
        class="button is-white is-rounded is-outlined is-uppercase has-text-weight-normal">Plus d'info</a>
      </a>
    </div>
  </div>
</section>