<section class="hero is-fullheight has-text-centered" id="hero">
  <div class="hero-body">
    <div class="container">
      <div class="box container">
        <div class="box-inner">
          <div class="box-front">
            <figure class="image">
              <img class= "image-arrondie" src="{{site.url}}{{site.baseurl}}/{{site.author-logo}}" alt="{{site.author-name}}">
            </figure>
          </div>
          <div class="box-back">
            <h2 class="is-size-5 has-text-weight-semibold has-text-white has-text-centered">
              {{site.description1}}</h2>
              ✱
            <h2 class="is-size-5 has-text-weight-semibold has-text-white has-text-centered">
              {{site.description2}}</h2>
          </div>
        </div>
      </div>
      <!--   <div class="container columns">
        <h2 class="column title has-text-white is-size-2 is-uppercase has-text-weight-bold">
        {{site.title}}
        </h2>
        <h3 class="column title has-text-white is-size-4 is-uppercase has-text-weight-bold">
          {{site.title_bis}}
        </h3> 
      </div>
      <br>-->
      <h2 class="subtitle has-text-white is-uppercase has-text-weight-bold is-marginless">
        {{site.description}}
      </h2>
      <hr>
      <h4 class="title has-text-white-bis is-size-5 has-text-weight-normal is-uppercase">{{site.author-name}} Orthopédagogue<br>{{site.telephone}}</h4>
      <br>
      <a href="{{site.url}}{{site.baseurl}}/#contact"
        class="button is-white is-rounded is-outlined is-uppercase has-text-weight-normal">ME CONTACTER</a>
      </a>
    </div>
  </div>
</section>