<section class="hero is-fullheight has-text-centered" id="hero">
  <div class="hero-body">
    <div class="container">


      <div class="box boite container">
        <div class="boite-inner">
          <div class="boite-front">
            <figure class="image">
              <img class="image-arrondie" src="{{site.url}}{{site.baseurl}}/{{site.author-logo}}"
                width="220" height="231" alt="{{site.author-name}}">
            </figure>
          </div>
          <div class="content boite-back">
            <h4 class="title is-size-4 has-text-weight-semibold has-text-white has-text-centered">
              {{site.description1}}</h4>
            ✱ ✱ ✱
            <h4 class="title is-size-4 has-text-weight-semibold has-text-white has-text-centered">
              {{site.description2}}</h4>
          </div>
        </div>
      </div>
      <h4 class="subtitle has-text-white is-uppercase has-text-weight-bold is-marginless">
        {{site.description}}
      </h4>
      <hr>
      <h4 class="title has-text-white-bis is-size-5 has-text-weight-normal is-uppercase">{{site.author-name}}
        (EI): Orthopédagogue<br>{{site.telephone}}</h4>
      <br>
      <div class="buttons is-centered">
        <a href="{{site.url}}{{site.baseurl}}/#about"
          class="button is-white is-rounded is-outlined is-uppercase has-text-weight-normal">QUI SUIS-JE ?</a>
        </a>
        <a href="{{site.url}}{{site.baseurl}}/#contact"
          class="button is-white is-rounded is-outlined is-uppercase has-text-weight-normal">ME CONTACTER</a>
        </a>
      </div>
    </div>
  </div>
</section>