---
layout: compress
---

<!DOCTYPE html>
<html>
{% include head.html %}

<!-- ce script gère la croix de fermeture pour revenir à la liste des "en savoir plus"-->
<script>
    document.addEventListener('DOMContentLoaded', () => {
        (document.querySelectorAll('.delete') || []).forEach(($delete) => {
            $delete.addEventListener('click', () => {
                window.location.href = "{{site.url}}{{site.baseurl}}/project"
            });
        });
    });
</script>

<style>
    .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%; 
    max-width: 700px;
    }
    hr { background-color: black; }
</style>

<body>
    {% include navbar.html %}
    <section class="hero is-fullheight is-flex is-flex-mobile">
        <div class="hero-body">
            <div class="container" id="page-section">
                <div class="section">
                    <div class="columns is-mobile">
                        <div class="column is-1 is-offset-11 is-mobile">
                            <button class="delete is-large"></button>
                        </div>
                    </div>
                    <div class="columns">
                        <div class="column is-marginless is-one-quarter">
                            <figure class="box image px-1 py-1">
                                <img src="{{page.image}}" alt="{{site.author-name}}">
                            </figure>
                        </div>
                        
                        <div class="column">
                            <h3
                                class="title is-size-3-desktop is-size-4-touch is-uppercase has-text-weight-bold has-text-centered">
                                {{page.title}}
                            </h3>
                            
                            <!--Ajouts des tags 
                            <h2><br></h2>
                            <div>
                                {%- assign tags = page.tags -%}
                                {%- unless tags.size == 0 -%}
                                <p class="subtitle is-uppercase">
                                    <i class="fas fa-tags"></i>
                                    {% assign i = 0 %}
                                    {% for tags in page.tags %}
                                    <span class="tag is-info">{{page.tags[i]}}</span>
                                    {% assign i = i | plus:1 %}
                                    {% endfor %}
                                </p>
                                {%- endunless -%}
                            </div>
                            <!--Ajouts des tags -->
                        </div>
                    </div>
                    <hr class="has-background-black">

                    <div class="content has-text-justified">
                        {{ content }}
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!--Footer begins here-->
    {% include footer.html %}
</body>

</html>