---
layout: compress
---

<!DOCTYPE html>
<html>
{% include head.html %}

<body>
    {% include navbar.html %}
    <section class="hero is-fullheight">
        <div class="hero-body">
            <div class="container" id="page-section">
                <div class="section">
                    <h1 class="title is-1 is-uppercase has-text-weight-bold has-text-centered">
                        {{page.title}}
                    </h1>
                    <hr class="has-background-black">
                    <div class="columns">
                        <div class="column is-one-quarter">
                            <figure class="image">
                                <img src="{{page.image}}" alt="{{site.author-name}}">
                            </figure>
                            <a href="{{site.url}}{{site.baseurl}}/project"
                                class="button is-fullwidth is-rounded is-uppercase has-text-weight-normal is-black is-outlined has-text-weight-semibold">RETOUR</a>
                            </a>
                        </div>
                        <div class="column">
                            <div class="content is-marginless has-text-justified">
                                {{ content }}
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!--Footer begins here-->
    {% include footer.html %}
</body>

</html>