---
layout: compress
---

<!DOCTYPE html>
<html>
{% include head.html %}

<body>
    {% include navbar.html %}
    <section class="hero is-fullheight">
        <div class="hero-body">
            <div class="container" id="page-section">
                <div class="section">
                    <div class="columns is-mobile is-marginless">
                        <div class="column is-mobile is-1 is-offset-12">
                            <a href="{{site.url}}{{site.baseurl}}/project">
                                <button class="delete "></button></a>
                        </div>
                    </div>
                    <div class="columns">
                        <div class="column is-marginless is-one-quarter">
                            <figure class="image">
                                <img src="{{page.image}}" alt="{{site.author-name}}">
                            </figure>
                        </div>
                        <div class="column">
                            <h1 class="title is-2 is-uppercase has-text-weight-bold has-text-centered is-hidden-mobile">
                                {{page.title}}
                            </h1>
                            <h1 class="title is-4 is-uppercase has-text-weight-bold has-text-centered is-hidden-tablet">
                                {{page.title}}
                            </h1>
                        </div>

                    </div>
                    <hr class="has-background-black">
                    <div class="columns">
                        <!--  <div class="column is-marginless is-one-quarter">
                            <figure class="image">
                                <img src="{{page.image}}" alt="{{site.author-name}}">
                            </figure>
                        </div>-->
                        <div class="column">
                            <div class="content is-marginless has-text-justified">
                                {{ content }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Footer begins here-->
    {% include footer.html %}
</body>

</html>